.category {
  border: 1px solid yellow;
  border-radius: 8px;
  padding: 0px 15px;
  width: 95%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;
}
.key {
  height: 30px;
  width: 10%;
}
.key_open {
  height: 30px;
  width: 30px;
}
.img_key_open {
  width: 100%;
  background-color: aqua;
}
.img_key {
  width: 100%;
  background-color: aqua;
}
.category_delete{
    width: 10%;
}

.category_name{
    width: 70%;
}

