.add_category_container {
  height: 100%;
  width: 90%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.btn_exit {
  display: flex;
}
.container_btn_back {
  height: 10%;
}
.btn_save {
  display: flex;
  height: 10%;
}
.form_add {
  height: 90%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}
.form_add input {
  height: 50px;
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 22px;
  padding: 7px;
  margin: 7px 0px;
  font-weight: bold;
}

.form_add input:focus {
  border: 2px solid yellow;
  outline-offset: 0px;
  outline: none;
}
.form_add button {
  height: 45px;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 18px;
  margin: 7px 0px;
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form_add .btn_save {
  background-color: rgb(222, 197, 14);
  color: black;
  width: 60%;
}
.buttons {
  height: 25%;
  display: flex;
  justify-content: space-between;
  align-items: self-end;
}
.title {
  font-size: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
