.header{
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.header_content{
    border: 3px solid yellow;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}